* {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

.root__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.root__container .root__nav {
    width: 5%;
    min-width: 100px;
}

.root__container .root__page {
    width:90%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}